body {
  background: #f1f1f1;
  color: #4AD0EC;
  font-family: Helvetica;
  letter-spacing: 0.15em;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

#root, #container {
  padding: 0 1vw;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.focused, .unfocused {
  background: #6441a5;
  padding: 12px;
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.focused {
  background: #b9a3e3;
  color: black;
}

.image img {
  width: 100%;
}

.btn-unfocused, .btn-focused {
  padding: 8px;
  font-weight: bold;
  color: white;
  background: gray;
}

.btn-focused {
  background: red;
}

.navigation {
  display: flex;
}

.program-list {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  padding-left: 8px;
  justify-content: space-evenly;
}

:focus {
  outline: 1px;
}

.container {
    margin: auto;
    position: relative;
    width: 100%;
    text-decoration-color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: black;
    font-size: 2em;
    font: 'Times New Roman Bold',
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.display_name {
  transition: .5s ease;
  position: absolute;
  left: 50%;
}

.status {
  transition: .5s ease;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 0;
}

.container:hover .status {
  opacity: 0;
}

.container:hover .display_name {
  opacity: 0;
}
