/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  background-color: #2E1E4C;
  color: #4AD0EC;
  font-family: Helvetica;
  margin: 0 auto;
}

@font-face {
font-family: 'TwitchFont';
src: url('font/Twitchy.ttf');
}

#headerLogo {
  font-family: 'TwitchFont';
  font-size: 18px;
}

div {
  box-sizing: border-box;
}

#root, #container {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
}

.focused, .unfocused {
  border-radius: 5px;
  display: flex;
  padding: 8px;
}
.imgfocused, .imgunfocused {
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
}

.focused, .imgfocused {
  background: #b9a3e3;
}

.navigation {
  display: flex;
}

:focus {
  outline: 1px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#browseContent {
  overflow: auto;
}

.listPictures {
  overflow: overlay;
}

.header {
  z-index: 1;
  position: relative;
  background: #483d8b;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* overflow: auto; */
    position: relative;
    text-decoration-color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: black;
    font-size: 2em;
    font: 'Times New Roman Bold';
    padding-left: 20px;
    padding-top: 20px;
}

.streamContainer {
  padding-left: 20px;
  padding-top: 20px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-size: 2em;
  font: 'Times New Roman Bold';
  display: table;
}

#video {
  height: 100%;
}
.image {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
}

#vidi {
  height: 500px;
}
#vidi:-webkit-full-screen{
  font-size: 3.5em;
  height: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  top: 0;
  left: 0;
}

.display_name {
  transition: .5s ease;
  left: 50%;
}

.status {
  display: flex;
  width: 860px;
  transition: .5s ease;
  flex: 0 0 100%;
}

.streamInfo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex: 0 0 100%;
}

.videoWrapper {
  position: relative;
  display: table;
  width: 100%;
}

.searchForm {
  align-items: center;
  display: flex;
  color: black;
  font-size: 22px;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
}
.formClass {
  width: 50%;
}

.searchIcon {
  display: flex;
  font-size: 78px;
  padding-left: 10px;
  color: rgba(255,255,255,0.7);
}

.searchInput {
  width: 100%;
}

.videoControl {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 50%;
  left: 25%;
}

.controlBtns {
  display: flex;
  background: transparent;
  border: 0;
  bottom: 10px;
  color: #6034b2;
}

.controlBtns.focused {
  background: rgba(129, 95, 192, 0.5);
  border-radius: 5px;
}

#btnFullScreen{
  right: 0;
}

#btnMute {
  left: 0;
}

#placeholder {
  width: 100%;
}

#content {
  flex: 1;
  display: flex;
  overflow: auto;
}
.hover, .unhover {
  margin-top: 20px;
  margin-left: 20px;
}

.hover {
  background: #b9a3e3;
}
