html,
body {
  margin: 0;
  background: #262626;
  color: #4AD0EC;
  font-family: Helvetica;
  letter-spacing: 0.15em;
  margin: 0 auto;
}

#App {
  font-family: sans-serif;
}

#page-wrap {
  text-align: center;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 106px;
  height: 100px;
  left: 106px;
  top: 46px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 100px;
  width: 100px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 4.5em 0;
  font-size: 1.45em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  font-size: 2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.channel-name {
  font-size: 2em;
}

#wrapper {
    overflow: hidden; /* add this to contain floated children */
}
#gamelist {
    float:left; /* add this */
    border: 1px solid red;
}

.container {
    margin: auto;
    position: relative;
    width: 80%;
    text-shadow: 0 0 5px rgba(255,255,255,1);
    color: black;
    font-size: 2em;
    font: 'Times New Roman Bold',
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.display_name {
  transition: .5s ease;
  position: absolute;
  left: 50%;
}

.status {
  transition: .5s ease;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 0;
}

.container:hover .status {
  opacity: 0;
}

.container:hover .display_name {
  opacity: 0;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
